.places {
  max-width: 984px;
  padding: 0 148px 92px 148px;
  display: grid;
  row-gap: 80px;
}

@media (max-width: 1024px) {
  .places {
    max-width: 928px;
    padding: 0 48px 92px 48px;
  }
}

@media (max-width: 768px) { 
  .places {
    max-width: 720px;
    padding: 0 24px 90px 24px;
    row-gap: 75px;
  }
}

@media (max-width: 425px) {
  .places {
    max-width: 425px;
    padding: 0 0 66px 0;
    row-gap: 50px;
    max-height: 5177px;
  }
}