.places {
  max-width: 984px;
  padding: 0 148px 97px 148px;
  display: grid;
  row-gap: 87px;
}

@media (max-width: 1024px) {
  .places {
    max-width: 928px;
    padding: 0 48px 96px 48px;
    row-gap: 83px;
  }
}

@media (max-width: 768px) { 
  .places {
    max-width: 720px;
    padding: 0 24px 90px 24px;
    row-gap: 75px;
  }
}

@media (max-width: 425px) {
  .places {
    max-width: 425px;
    padding: 0 0 66px 0;
    row-gap: 51px;
  }
}