.places {
  padding: 0 148px 97px 148px;
  display: grid;
  row-gap: 77px;
}

@media (max-width: 1279px) {
  .places {
    padding: 0 48px 96px 48px;
    row-gap: 84px;
  }
}

@media (max-width: 1023px) { 
  .places {
    padding: 0 24px 90px 24px;
    row-gap: 75px;
  }
}

@media (max-width: 767px) {
  .places {
    padding: 0 0 66px 0;
    row-gap: 51px;
  }
}