.header__land-link {
  font-family: 'Inter', "Arial ", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 38px;
  margin: 0;
  text-decoration: none;
  color: #FFFFFF;
}

.header__land-link:hover {
  opacity: 0.8;
}

@media (max-width: 424px) {
  .header__land-link {
    font-size: 18px;
    line-height: 31px;
  }
}  