.place__paragraph {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  padding-bottom: 26px;
}

.place__paragraph:last-of-type {
  padding-bottom: 0;
}

@media (max-width: 1024px) {
  .place__paragraph {
    line-height: 160%;
    padding-bottom: 27px;
  }
}

@media (max-width: 768px) { 
  .place__paragraph {
    font-size: 16px;
    line-height: 161%;
    padding-bottom: 25px;
  }
}

@media (max-width: 424px) {
  .place__paragraph {
    padding: 0 16px 26px 16px;
  }
}