.intro {
  max-width: 690px;
  padding: 93px 442px 92px 148px;
}

@media (max-width: 1024px) {
  .intro {
    padding: 93px 286px 92px 48px;
  }
}
  
@media (max-width: 768px) { 
  .intro {
    max-width: 720px;
    padding: 88px 24px 88px 24px;
  }
}
  
@media (max-width: 425px) {
  .intro {
    max-width: 425px;
    padding: 66px 16px 64px 16px;
  }
} 