.cover {
  max-width: 100%;
  margin: 0 48px 92px 48px;
}

@media (max-width: 1024px) {
.cover {
  margin: 0 0 92px 0;
}
}

@media (max-width: 768px) { 
.cover {
  margin: 0 0 88px 0;
}
}

@media (max-width: 425px) {
.cover {
  margin: 0 0 64px 0;
}
}