.cover__image {
  max-width: 100%;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center center;
  position: relative;
  z-index: 2;
  background-size: cover;
  background-repeat: no-repeat;
}

.cover__image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 350ms ease;
}

.cover__image:hover::before {
  opacity: 0.8;
}
