.cover__title {
  margin: 0;
  font-family: "Inter", "Arial ", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  padding: 239px 312px 32px 312px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 1279px) {
.cover__title {
  padding: 195px 232px 32px 232px;
  }
}

@media (max-width: 1023px) { 
.cover__title {
  padding: 115px 104px 32px 104px;
  }
}


@media (max-width: 767px) {
.cover__title {
  font-size: 32px;
  line-height: 35px;
  padding: 35px 22px 16px 16px;
  padding-left: auto;
  padding-right: auto;
  }
}