.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 48px 24px 48px;
}

@media (max-width: 1023px) { 
.footer {
  padding: 0 24px 24px 24px;
}
}

@media (max-width: 767px) {
.footer {
  flex-direction: column;
  justify-content: space-between;
  padding: 0 118px 24px 16px;
  gap: 32px;
}
}