.page {
  background: #2A2C2F;
  color: #FFFFFF;
  width: 100%;
}

.page_container {
  margin: 0 auto 0 auto;
  width: 1280px;
}
.header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  height: 52px;
  padding-top: 28px;
  padding-right: 48px;
  padding-bottom: 0;
  padding-left: 48px;
  margin-right: 0;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__land-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}
.cont {
  max-width: 1280px;
}


.lead{
  max-width: 984px;
  min-height: 1005px;
  padding-top: 56px;
  padding-left: 148px;
  padding-bottom: 0;
  padding-right: 148px;
  margin: 0;
}

.lead__title {
  margin: 0;
  width: 720px;
  min-height: 200px;
  padding: 0 132px 0 132px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

.lead__subtitle {
  margin: 0;
  width: 640px;
  min-height: 72px;
  padding: 32px 172px 64px 172px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center; 
}

.lead__image {
  width: 100%;
  height: 100%; 
}

.lead__caption {
  height: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 8px;
}


@media (max-width: 1024px) {
  .page_container {
    max-width: 1024px;
  }

  .cont {
    max-width: 1024px;
  }
  .header {
    max-width: 928px;
    height: 52px;
  }

  .lead {
    max-width: 928px;
    max-height: 1005px;
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
  }
  
  .lead__title {
    padding: 0 104px 0 104px;
  }
  
  .lead__subtitle {
    padding: 32px 144px 64px 144px;
  }
} 
  
@media (max-width: 768px) { 
  .page_container {
    max-width: 768px;
  }
  .cont {
    max-width: 768px;
  }


  .header {
    max-width: 720px;
    height: 52px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .lead {
    max-width: 720px;
    min-height: 862px;
    padding-left: 0;
    padding-right: 0;
  }
    
  .lead__title {
    padding: 0 24px 0 24px;
  }
    
  .lead__subtitle {
    padding: 32px 64px 64px 64px;
  }
    
  .lead__caption {
    padding-top: 8px;
    padding-left: 24px;
  }  
}
 
@media (max-width: 424px) {
    .page_container {
      max-width: 424px;
    }

    .cont {
      max-width: 424px;
    }
    .header {
      max-width: 320px;
      height: 42px;
      padding-top: 16px;
      padding-right: 16px;
      padding-left: 16px;
    }

    .lead {
      max-width: 320px;
      min-height: 406px;
      padding-left: 2px;
      padding-right: 2px;
    }
    
    .lead__title {
      margin: 0;
      width: 288px;
      min-height: 88px;
      padding: 0 18px 0 14px;
      font-size: 40px;
      line-height: 44px;
    }
    
    .lead__subtitle {
      width: 288px;
      min-height: 40px;
      padding: 16px 16px 40px 16px;
      font-size: 16px;
      line-height: 20px;
    }
    
    .lead__caption {
      margin: 0;
      padding-left: 16px;
    }  
    .lead__image {
      width: 320px;
      height: 200px; 
    }  
}