.cont {
  max-width: 1280px;
}

@media (max-width: 1024px) {
  .cont {
    max-width: 1024px;
  }
}  

@media (max-width: 768px) { 
  .cont {
    max-width: 768px;
  }
}

@media (max-width: 425px) {
  .cont {
    max-width: 425px;
  }
  }    