.intro__title {
  margin: 0;
  width: 690px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  padding-bottom: 40px;
}


@media (max-width: 768px) { 
  .intro__title {
    width: 720px;
  }
}
  
@media (max-width: 424px) {
  .intro__title {
    width: 288px;
    font-size: 34px;
    line-height: 32px;
    padding-bottom: 42px;
   }
} 